* { padding: 0; margin: 0; vertical-align: top; }
header, section, footer, nav { display: block; }

/* font */
@font-face {
    font-family: 'DroidSansRegular';
    src: url('../font/DroidSans-webfont.eot');
    src: url('../font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/DroidSans-webfont.woff') format('woff'),
    url('../font/DroidSans-webfont.ttf') format('truetype'),
    url('../font/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../font/DroidSans-Bold-webfont.eot');
    src: url('../font/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/DroidSans-Bold-webfont.woff') format('woff'),
    url('../font/DroidSans-Bold-webfont.ttf') format('truetype'),
    url('../font/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { font-size: 85%; }
body { font: 1em/1.4em 'DroidSansRegular', Helvetica, sans-serif; color: #1B1B1B; background: #FFF; }
header, section, footer, nav { width: 1024px; margin: 0 auto; }

nav { height: 25px; margin-bottom: 5px; }
nav ul li { list-style: none inside none; display: inline; color: #FFF; font-family: 'DroidSansBold', Helvetica, sans-serif; }

.blocks, form { width: 995px; margin: 10px auto; padding: 15px; border: 1px solid #CCCCCD; border-bottom-color: #999; border-right-color: #333; border-radius: 10px; }
.blocks .row { font: normal 1em/1.4em 'DroidSansBold', Helvetica, sans-serif; color: #1B1B1B; }
.blocks .row.header { border-bottom: 1px solid #1B1B1B; margin: 5px auto 0 auto; width: 995px; }
.blocks .row.instance { font: normal 0.95em/1.4em 'DroidSansRegular', Helvetica, sans-serif; color: #333; border-bottom: 1px solid #EFEFEF; padding-top: 4px; }
.blocks .row .column { display: inline-block; zoom: 1; *display: inline; width: 16%; }
.blocks.admins .row .column1 { width: 10%; }
.blocks.admins .row .column2 { width: 16%; }
.blocks.admins .row .column3 { width: 34%; }
.blocks.admins .row .column5, .blocks.admins .row .column6 { width: 10%; }

.blocks.pageform { width: 995px; margin: 0; padding: 0; border: 0;}

/* Fields */
.field { width: 95%; margin: 0 0 0 5px; padding: 5px 0; border-bottom: 1px solid #EFEFEF; }
.field .answer, .field .question { display: inline-block; zoom: 1; *display: inline; }
.field .answer { width: 200px; margin-left: 0; }
.field .question { width: 200px; text-align: left; padding: 2px 0; }
.field .answer input, .field .answer textarea { border: 1px solid #CCCCCD; border-bottom-color: #333; border-right-color: #1B1B1B; border-radius: 3px; padding: 2px 4px; box-shadow: inset 1px 1px 5px #EFEFEF; font: normal 0.95em/1.4em 'DroidSansRegular', Helvetica, sans-serif; width: 185px; }
.field .answer input[type=checkbox] { width: auto; }

/* Block settings */
.block.settings { width: 200px; display: inline-block; zoom: 1; *display: inline; }
.block.page { width: 780px; display: inline-block; zoom: 1; *display: inline; }


