* { padding: 0; margin: 0; }
header, section, footer, nav { display: block; }

/* font */
@font-face {
    font-family: 'DroidSansRegular';
    src: url('../font/DroidSans-webfont.eot');
    src: url('../font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/DroidSans-webfont.woff') format('woff'),
    url('../font/DroidSans-webfont.ttf') format('truetype'),
    url('../font/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../font/DroidSans-Bold-webfont.eot');
    src: url('../font/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/DroidSans-Bold-webfont.woff') format('woff'),
    url('../font/DroidSans-Bold-webfont.ttf') format('truetype'),
    url('../font/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { font-size: 85%; }
body { font: 1em/1.4em 'DroidSansRegular', Helvetica, sans-serif; color: #1B1B1B; background: #FFF; }
header, section, footer, nav { width: 1024px; margin: 0 auto; }

nav { height: 25px; margin-bottom: 5px; }
nav ul li { list-style: none inside none; display: inline; color: #FFF; font-family: 'DroidSansBold', Helvetica, sans-serif; }


