* { padding: 0; margin: 0; vertical-align: top; }

html { background: #FFF; font-family: Verdana,Arial,sans-serif; color: #000; width: 100%; height: 100%; font-size: 100%; line-height: 100%; }
body { width: 100%; height: 100%; }

a { color: #00632E; }
h1 { font: bold 1.6em/1.8em Century Gothic, Arial, sans-serif; color: #00632E; margin: 0.5em 0; }
h2 { font: bold 1.4em/1.8em Century Gothic, Arial, sans-serif; color: #000; margin: 0.25em 0; }
h3 { font: bold 1.2em/1.6em Century Gothic, Arial, sans-serif; color: #000; margin: 0.12em 0; }

section, nav, header, footer { width: 1280px; margin: 0 auto; }

footer { width: 1120px; padding: 5em; font: 1.0em/1.2em Verdana, Arial, Helvetica; color: #FFF; background: #621137; }
footer a { color: #FFF; }

header { background: url('../images/banner.jpg') no-repeat center center; width: 1280px; height: 586px; }
nav { background: #FFF; border-radius: 5px; box-shadow: 1px 1px 10px #999; color: #00632E; width: 1000px; padding: 1em; position: relative; top: 15em; }
nav ul a { color: #00632E; text-decoration: none; }
nav ul li { list-style: none inside none; display: inline-block; vertical-align: top; zoom: 1; *display:inline; width: 160px; text-align: center; font: bold 1.6em/1.8em 'Century Gothic', Arial, Helvetica; color: #000; }
nav ul li.active, nav ul li.active a { color: #00632E; }
nav ul li.first { text-align: left; }

.content { width: 100%; display: inline-block; zoom: 1; *display:inline; }
aside { width: 200px; display: inline-block; zoom: 1; *display:inline; padding-top: 50px; margin-left: 10px; }

p { margin-bottom: 1em; }

/* Blocks */
.blocks { width: 100%; }
.blocks .block { width: 33%; display: inline-block; zoom: 1; *display: inline; }